<!DOCTYPE html>
<html>
<head>
  <title>KeepConnected &middot; Contact Form</title>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- NAVBAR
   ================================================== -->
   <div class="navbar-wrapper" style="margin-top:-0.25%;">
     <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->


       <div class="navbar navbar-inverse">
         <div class="navbar-inner">
           <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in  tutorial). Include responsive CSS to utilize. -->

             <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="background-color:rgb(74,146,155);">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="brand" href="#" style="margin-left:5%;">KeepConnected</a>
           <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
           <div class="nav-collapse collapse">
             <ul class="nav">
               <li><a href="indexfamily.html" style="color:white;">Transparent Care</a></li>
               <li><a href="family.html" style="color:white;">Get on Board!</a></li>
               <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li> <a href="contact#new">Sign Up</a> </li> <!--render the contact fields here or just a link to contact page? -->
             </ul>


         <!--
           <ul class="nav">
             <li class="active"><a href="#">Home</a></li>
             <li><a href="#">Link</a></li>
             <li><a href="#">Link</a></li>
           </ul>-->

           <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->

           <!--
           <div class="nav-collapse collapse">
             <ul class="nav">
               <li class="active"><a href="#">Features</a></li>
               <li><a href="#about">Testimonials</a></li>
               <li><a href="#contact">Press</a></li> -->
               <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
               <!--
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                 <ul class="dropdown-menu">
                   <li><a href="#">Action</a></li>
                   <li><a href="#">Another action</a></li>
                   <li><a href="#">Something else here</a></li>
                   <li class="divider"></li>
                   <li class="nav-header">Nav header</li>
                   <li><a href="#">Separated link</a></li>
                   <li><a href="#">One more separated link</a></li>
                 </ul>
               </li>
             </ul> -->
           </div><!--/.nav-collapse -->
         </div><!-- /.navbar-inner -->
       </div><!-- /.navbar -->

   </div><!-- /.navbar-wrapper -->





<div class="container">

  <div class="jumbotron">

        <h1 style="margin-top:2.5%;">Get in touch with us!</h1>
        <p class="lead">Please complete the form below with your contact details and your query.
         We will be in touch with you very shortly with more details on how we can help you provide better
          care for your loved one.</p>

        <hr>


      </div>



  <%= yield %>
</div>

   <footer>

       <div>
        <center>
        <p style="margin-top:5%"> &copy; 2012-2013 Loikka Design, Ltd.</p>
        <p style="margin:-3px;margin-bottom:2.5%;">KeepConnected by Loikka Design</p>
        </center>
      </div>
       </footer>



</body>
</html>
